<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.salesucation.youarehere" version="0.0.3">

    <name>Home Chef</name>

    <description>
A simple app to save your recipes.
    </description>
    <content src="index.html" />
    <author href="https://qy4zhou.github.io">
Qinyuan Zhou    </author>
    <!-- We'll include the Barcode plugin as an example -->
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root" />
    <plugin name="org.apache.cordova.geolocation" />
    <plugin name="org.apache.cordova.device" />
    <feature name="Geolocation">
        <param name="ios-package" value="CDVLocation" />
    </feature>
</widget>
